<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.urp.mapper.SysPrivilegeMapper">
    <select id="selectPrivilegesByRoleId" resultType="SysPrivilege">
        select sp.id,
        sp.privilege_name,
        sp.privilege_url,
        sp.privilege_desc
        from sys_privilege sp
        inner join sys_role_privilege srp on srp.privilege_id = sp.id
        inner join sys_role sr on sr.id = srp.role_id
        where sr.id = #{roleId}
    </select>
</mapper>