<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.urp.mapper.SysRoleMapper">
    <select id="selectRolesByUserId" resultType="SysRole">
        select sr.id,
        sr.role_name,
        sr.role_enabled,
        sr.role_desc
        from sys_role sr
        inner join sys_user_role sur on sur.role_id = sr.id
        inner join sys_user su on su.id = sur.user_id
        where su.id = #{userId}
    </select>
</mapper>