<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.urp.mapper.SysUserMapper">
    <!--resultMap id="userMap" type="com.urp.entity.SysUser">
        <id property="id" column="id" />
        <result property="userName" column="user_name"/>
        <result property="userAge" column="user_age"/>
        <result property="userGender" column="user_gender"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="userAddress" column="user_address"/>
        <result property="userHeadImg" column="user_head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap-->

    <select id="selectByUserId" resultType="SysUser">
        select id,
        user_name,
        user_age,
        user_email
        from sys_user
        where id = #{id}
    </select>

    <select id="selectAll" resultType="SysUser">
        select id,
        user_name,
        user_age,
        user_email,
        user_gender,
        user_phone,
        user_address
        from sys_user
    </select>

    <insert id="insertOne" parameterType="SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name,
                            user_age,
                            user_email,
                            user_gender,
                            user_phone,
                            user_address)
        values (#{userName},
                #{userAge},
                #{userEmail},
                #{userGender},
                #{userPhone},
                #{userAddress}
        )
    </insert>

</mapper>